<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h1>Update User Form</h1>

<form action="#" th:action="@{/updateUser}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Name:<input type="text" th:field="*{name}"></p>
    <p>Surname:<input type="text" th:field="*{surname}"></p>
    <p><input type="submit" value="Submit"></p>
</form>
</body>
</html>